.splash-page-header-image {
  height: 100vh;
}

.splash-image-text {
  color: white;
  padding: 2vw;
}
.splash-image-text::after {
  content: "";
  background: darkslategray;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 5px;
  z-index: -1;
}
.projects .w3-col {
  float: none;
}
.projects .project-sublinks {
  display: flex;
  margin-top: 1vh;
  justify-content: center;
}
.projects .project-sublinks a {
  margin-right: 2vw;
  font-weight: bold;
}
.projects .project-sublinks a:hover {
  color: gray;
}
.projects .project-sublinks a:first-child {
  border-right: 2px solid gray;
  padding-right: 2vw;
}

.projects .w3-display-topleft {
  display: none;
}
.projects .w3-col {
  width: 100%;
}
.projects .w3-display-container {
  display: flex;
}

.projects img {
  width: 30vw;
  margin-right: 2vw;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.projects h5 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}
.projects .w3-display-container:hover .w3-display-topleft {
  display: block;
}
.about-photo {
  clip-path: circle(50%);
  width: 100%;
}

#about .flex-col {
  display: flex;

  @media (max-width: 480px) {
    display: block;
  }
}
#about .short-bio {
  margin-left: 3vw;
  flex: 1;
}
.short-bio .two-col {
  display: flex;
}
.short-bio .two-col > * {
  margin-right: 2vw;
  width: 50%;
  text-align: center;
}
.short-bio .social-link {
  width: 5vw;
  height: 5vw;
}

.short-bio .resume {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.short-bio .view-resume {
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  background-color: yellow;
  padding: 1vw;
  font-weight: bold;
  border: 5px solid black;
}
.short-bio .resume img {
  width: 100%;
  filter: blur(1px);
  transition: 0.3s ease-in-out;
}
.short-bio .resume:hover .view-resume {
  background-color: green;
  color: white;
}
.short-bio .resume:hover img {
  filter: blur(0);
}
.short-bio .social-links-header {
  font-size: 1.5em;
}
.social-links a {
  display: inline-block;
}
.social-links a:hover {
  background-color: lightblue;
  border-radius: 5px;
}
.skills-icons {
  display: flex;
  flex-wrap: wrap;
}
.skills-icons img {
  width: 10%;
}
#about,
#contact {
  background: rgb(239, 252, 252);
  background: linear-gradient(
    180deg,
    rgba(239, 252, 252, 1) 0%,
    rgba(248, 255, 255, 1) 48%,
    rgba(231, 255, 255, 1) 100%
  );
  border-radius: 10px;
}
.projects,
#about,
#contact,
#skills {
  min-height: 100vh;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 480px) {
    display: block;
  }
}
footer h3 {
  margin: 0;
  line-height: 1;
}
footer > div {
  width: 50%;

  @media (max-width: 480px) {
    margin: 0 auto;
  }
}
footer .contact {
  padding-top: 5vh;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  width: 100%;

  @media (max-width: 480px) {
    display: block;
    margin-top: 1em;
    padding-top: 1em;
  }
}
footer .contact h3 {
  border-right: 1px solid white;
  padding: 0 5vw;
  font-size: 1em;
  @media (max-width: 480px) {
    border: none;
  }
}
footer .contact h3:last-child {
  border: none;
}
footer a:hover {
  color: darkgreen;
}

footer .project-list {
  @media (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
}

.projects .w3-display-container {
  @media (max-width: 480px) {
    display: block;
  }
}

footer > div {
  @media (max-width: 480px) {
    margin-bottom: 2em;
  }
}
